{% extends "layouts/base.html.twig" %}
{% block title %}Présentation{% endblock %}
    {% block body %}
        <section class="bg-primary">
            <div class="container">
                <div class="page-title text-white text-center">
                    <h2 data-animate="fadeInUp" data-delay="1.2">Présentation</h2>
                    <ul class="list-inline" data-animate="fadeInUp" data-delay="1.4">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>Accueil</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="#">Présentation</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <img src="/assets/img/prefecture.jpeg" alt="" data-animate="fadeInUp" data-delay=".1">

                            <br><br>
                            <div class="single-post-content">
                                <h1 data-animate="fadeInUp" data-delay=".1">
                                    Introduction
                                </h1>
                                <p data-animate="fadeInUp" data-delay=".1">
                                   Située dans la partie centrale du Fouta Djallon, la préfecture de Pita dispose d'une superficie de 4.320 km2 pour une population de 239.236 habitants dont 92% en zones rurales, 85% engagés dans l'agriculture et 55,7% de femme. La densité moyenne se chiffre à 55 habitants par km2.La préfecture est subdivisée en une commune urbaine et 11 Communautés Rurales de Développement (CRD): Bantighel, Bourouwal Tappé, Donghol Touma, Gongoré, Ley-Miro, Maci, Niguélandé, Sangaréah, Sintaly, Timbi Madina, et Timbi Tounni. Le chef-lieu est reparti en 10 quartiers, les CRD en 111 districts. La préfecture de Pita est limitée au nord par la préfecture de Labé, au sud-est par la préfecture de Dalaba,au sud-ouest par la préfecture de Kindia, à l'ouest par la préfecture de Télimélé au nord-ouest par la préfecture de Lelouma. 
                                </p>
                                <div class="post-thumb">
                                    <img id="pita" src="assets/img/carte_pita.jpg" class="img-responsive post-image" alt="">
                                </div>
                                <p data-animate="fadeInUp" data-delay=".1">
                                    De type tropical, particulièrement doux sur les altitudes et chaud dans les bas-fonds, le climat est caractérisé par des refroidissements nocturnes en toute saison, la rigueur de l’harmattan en décembre, et l’alternance de deux saisons (sèche et pluvieuse) de durée à peu près égale. La température moyenne minimale est de 14,2°C, tandis que la maximale est de 29,5°C. Le relevé de la station météorologique a donné en moyenne 1771,2 mm de précipitation au cours de l’année 2005, répartie en 110 jours de pluie. Le relief de la préfecture est constitué de hauts plateaux dont l’altitude varie entre 900 et 1.264 m, d’où immergent deux points culminants, le Donghol Touma (1.264 m) et la Table de Maci (1.264 m). Les principaux cours d’eau qui arrosent cette préfecture sont le Kakrima, le Kokoulo et le Fétoré. La savane arborée et boisée est la caractéristique essentielle de sa végétation. On y distingue quelques forêts secondaires et des forêts de galerie le long des cours d’eau. La préfecture compte 11 forêts classées pour une superficie totale de 6486,4 ha. Les prospections géologiques ont prouvé l’existence d’importants gisements de bauxite à Bantignel avec une réserve de plus de 200 millions de tonnes. Elles ont également mis en évidence des indices de bauxite dans le groupe de Saran (Timbi Tounni), ainsi que des dolérites et gris qui peuvent servir à l’empierrement des routes et à la construction des édifices. 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}