<footer class="footer text-light bg-secondary">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer">
                        <h2 data-animate="fadeInUp" data-delay="0">Contact Us</h2>
                            <ul class="footer-contact-info">
                                <li data-animate="fadeInUp" data-delay=".05">
                                     <i class="fa fa-phone"></i> <a href="#">(+224) 623-897-708</a>, 
                                     <a href="#">(+224) 623-897-708</a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".1">
                                     <i class="fa fa-envelope-o"></i> 
                                        <a href="mailto:elhadjdiouma@gmail.com">elhadjdiouma@gmail.com</a>
                                </li>
                                    <li data-animate="fadeInUp" data-delay=".15">
                                        <i class="fa fa-map-marker"></i>Région Mamou, Préfecutre de pita
                                    </li>
                            </ul>
                            <ul class="footer-social-icons">
                                <li data-animate="fadeInUp" data-delay=".2">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".25">
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".3">
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".35">
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".4">
                                    <a href="#" target="_blank"><i class="fa fa-feed"></i></a>
                                </li>
                                <li data-animate="fadeInUp" data-delay=".45">
                                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer">
                            <h2 data-animate="fadeInUp" data-delay=".4">Recent News</h2>
                            <div class="single-footer-post" data-animate="fadeInUp" data-delay=".45">
                                <a href="#">Microsoft announces general availability of Azure Event Grid</a>
                                <span><i class="fa fa-calendar-o"></i><a href="#">Jan 19, 2018</a></span>
                            </div>
                            <div class="single-footer-post" data-animate="fadeInUp" data-delay=".5"> 
                                <a href="#">Top 6 trends impacting enterprise mobility arround world in 2018</a>
                                    <span><i class="fa fa-calendar-o"></i>
                                        <a href="#">Jan 19, 2018</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer">
                            <h2 data-animate="fadeInUp" data-delay=".5">Partenaires</h2>
                                <ul class="footer-links">
                                    <li data-animate="fadeInUp" data-delay=".55">
                                        <a href="#"><i class="fa fa-angle-right"></i>www.afriqcare.com</a>
                                    </li>
                                    <li data-animate="fadeInUp" data-delay=".6">
                                        <a href="#"><i class="fa fa-angle-right"></i>www.ymoney.com</a>
                                    </li>
                                    <li data-animate="fadeInUp" data-delay=".65">
                                        <a href="#"><i class="fa fa-angle-right"></i>www.adig.com</a>
                                    </li>
                                    <li data-animate="fadeInUp" data-delay=".7">
                                        <a href="#"><i class="fa fa-angle-right"></i>www.guinee7.com</a>
                                    </li>
                                    <li data-animate="fadeInUp" data-delay=".75">
                                        <a href="#"><i class="fa fa-angle-right"></i>www.fatalainfos.com</a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="copyright">
        <div class="container">
            <p data-animate="fadeInDown" data-delay=".9">
                Copyright &copy; {{ "now"|date("Y") }} All rights reserved <a href="#">WHYINFOS</a>.
            </p>
        </div>
    </div>
</footer>
<div class="back-to-top">
    <a href="#"> <i class="fa fa-hand-pointer-o"></i> </a>
</div> 
